#bodySection {
    background-image: linear-gradient(120deg,#4687D2, #7B56B7);
}
.container {
    margin-top: 80px;
}
.login {
    background-color: white;
    /* border: 2px solid red; */
    border-radius: 10px;
    height: 500px;
    width: 30%;
    margin: auto;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}
.login > a {
    text-decoration: none;
}
.login > form > input {
    margin: 20px 0px;
    padding-left: 10px;
    font-size: larger;
    width: 100%;
    height: 45px;
    border-radius: 5px;
}
.login > p {
    text-align: center;
}
.login > p > a > #btn {
    background-color: transparent;
    height: 30px;
    color: red;
    font-weight: bold;
    padding: 2px 5px;
    border: none;
    font-size: 15px;
    margin-left: 1%;
}
.login > p > a > #btn:hover {
    cursor: pointer;
}
.login > form > p > #btn {
    cursor: pointer;
}
.login > form > #log {
    /* background-color: #2563eb; */
    background-image: linear-gradient(120deg, #3994D9, #8E45AD);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.login > form > #log:hover {
    cursor: pointer;
}
.login > form > h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}