* {
    padding: 0;
    margin: 0;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(24, 128, 207); */
    background-color: orange;
}

.container {
    width: 35rem;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}

.col {
    justify-content: space-evenly;
    padding: 15px;
    width: 95%;
}
.col > h1 {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 20px;
}
.col > h3 {
    font-weight: bolder;
}
.column {
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    width: 95%;
}
.column > h1 {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 20px;
}
.column > h3 {
    font-weight: bolder;
    margin-top: 5px;
}

#submit {
    width: 50%;
    background-color: #2563eb;
    transition: 0.5s;
    color: white;
    outline: none;
    border: none;
    font-size: 25px;
    display: block;
    padding: 10px;
    cursor: pointer;
}
#skip {
    width: 50%;
    background-color: #2563eb;
    transition: 0.5s;
    color: white;
    outline: none;
    border: none;
    font-size: 25px;
    display: block;
    padding: 10px;
    cursor: pointer;
}
#skip:hover {
    background-color: #0c45c1;    
}
#buttons {
    display: flex;
}

#submit:hover {
    background-color: #0c45c1; 
}

.box {
    box-shadow: 0px -1px 1px grey;
    width: 100%;
}