<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Report.css">
    <link rel="stylesheet" href="../Navbar/navbar.css">
    <title>Report Page</title>
</head>
<body>
    <div id="navbar">

    </div>
    <div class="container">
        <h1>Hello World! Report Page</h1>
    </div>
</body>
</html>

<script src="./Report.js"></script>
<script src="../Login&Signup/navbarImport.js" type="module"></script>