<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./signup.css">
    <title>SignUp Page</title>
</head>
<body id="bodySection">
    <div class = "container">
        <div class = "signup">
            <form>

                <h1>Sign Up</h1>
                <label>Full name</label>
                
                <input type="name" id = "signup_name" placeholder="Enter Name">
                <br>
                
                <label>Email</label>
                
                <input type="Email" id = "signup_Email" placeholder="Enter Email">
                
                <label for="">Password</label>
                
                <input type="Password" id="signup_password" placeholder="Enter Password">
                
                <input type="submit" id="sign" value = "SIGN UP">                
            </form>
            <p>Already have an account?<a href="../index.html"><button id="btn">Login</button></a> </p>
        </div>
    </div>
</body>
</html>

<script src="./signup.js"></script>
